.inner_box_delete {
  position: absolute;
  display: flex;
  width: 98%;
  height: 98%;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
}

.up-side_delete {
  border-bottom: 1px solid grey;
  flex: 10%;
}

.down-side_delete {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: 15px;
  flex: 90%;
}

.client-row_delete {
  padding: 6px;
  border: 1px solid grey;
}

.client-row_delete:hover {
  background-color: rgba(218, 36, 36, 0.486);
  font-weight: 600;
  font-size: 50px;
  cursor: pointer;
}

.input-row_delete {
  display: flex;
  padding: 20px;
}

#counterResults_delete {
  font-size: 30px;
  margin-left: auto;
}

#counterResults_delete span {
  color: rgba(255, 0, 0, 0.76);
}

.input-row_delete input {
  border-radius: 5px;
  height: 3rem;
  width: 35rem;
  font-size: 25px;
  text-indent: 5px;
}

.overlay_delete {
  background-color: transparent;
}

.animation_remove {
  animation-duration: 1s;
  animation-name: slideout;
  animation-fill-mode: forwards;
}

@keyframes slideout {
  from {
    transition: opacity 1s;
  }

  to {
    margin-left: 120%;
    width: 300%;
  }
}

.loader_del {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#control_page_delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
  font-size: 30px;
}

.custom_table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
