.inner_box {
  position: absolute;
  display: flex;
  width: 98%;
  height: 98%;
  flex-direction: column;
  box-sizing: border-box;
}

.up-side {
  border-bottom: 1px solid grey;
  flex: 10%;
}

.down-side {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow: auto;
  font-size: 30px;
  flex: 90%;
}

.client-row {
  padding: 2%;
  border: 1px solid grey;
}

.client-row:hover {
  background-color: rgba(128, 128, 128, 0.486);
  cursor: pointer;
}

.input-row {
  display: flex;
  padding: 20px;
}

#counterResults {
  font-size: 30px;
  margin-left: auto;
}

#counterResults span {
  color: blue;
}

.input-row input {
  border-radius: 10px;
  height: 3rem;
  width: 20rem;
  font-size: 30px;
  text-indent: 5px;
}
