.inner_box_rc {
  position: absolute;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
}

#register-client-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#register-client-form > * {
  margin-top: 10px;
  font-size: 30px;
}

#feedback_message {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  border: 1px solid rgba(255, 0, 0, 0.514);
  color: white;
  margin: 0;
}

#submit_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

#submit_row > * {
  width: 200px;
  margin-top: 10px;
}
