.showInfoDiv {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 98%;
  font-size: 25px;
}

.titleBasicInfo {
  color: white;
  flex: 10%;
}

.titleClientActions {
  color: white;
  flex: 10%;
  min-height: 68px;
}

.dataClientActions {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 90%;
}

.basicInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.397);
  border-radius: 15px;
  margin: 5px;
  flex: 40%;
}

.clientActions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.397);
  margin: 5px;
  overflow-y: auto;
  flex: 60%;
}

.dataBasicInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 90%;
}

.actionDataInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 90%;
}

.subTitlesDataBasicInfo {
  color: white;
  margin-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.164);
}

.itemDataBasicInfo {
  color: rgb(204, 78, 204);
}

.btnHist {
  width: 40px;
  color: rgb(204, 78, 204);
  margin-top: 10px;
}

.actionField {
  background-color: black;
  margin-bottom: 10px;
  color: white;
  width: 100%;
}

.saveActionField {
  color: rgb(204, 78, 204);
  cursor: pointer;
}

.saveActionField:nth-child(2) {
  margin-left: 20px;
}

.saveFeedback {
  margin-left: 10px;
}

.action {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  border: 1px solid palevioletred;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.action .text_action {
  word-break: break-all;
}

.mod_action {
  display: flex;
  flex-direction: column;
  width: 30px;
  margin-left: auto;
}

.mod_action > *:nth-child(2) {
  margin-top: 10px;
}

.deleteAction {
  cursor: pointer;
  color: red;
}

.updateAction {
  cursor: pointer;
  color: yellow;
}

.saveUpdateAction {
  display: flex;
  flex-direction: column;
}

.saveBtn {
  margin-top: 5px;
  color: rgb(204, 78, 204);
}

.inputUpdate {
  color: white;
  background-color: black;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.updateBtns > *:hover {
  cursor: pointer;
}

.updateBtns > *:nth-child(2) {
  margin-left: 10px;
}
