#interface-login__box-login {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 5px 10px #0000005e;
  padding: 2rem;
  min-width: 400px;
  height: 500px;
  border-radius: 0.25rem;
  border: 1px solid white;
}

#interface-login__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#interface-login__login input {
  min-width: 100%;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 20px;
}

#interface-login__login #feedback_msg {
  color: white;
  font-size: 20px;
}

#interface-login__login > * {
  margin-bottom: 0.5rem;
}

#interface-login__login #submit_btn:hover {
  background-color: rgba(255, 115, 0, 0.507);
  color: white;
}
