* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: url("wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-size: 30px;
  font-family: monospace;
  font-weight: 100;
}

article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

main,
footer {
  flex-shrink: 0;
}

header {
  background-color: white;
}

header h2 {
  color: purple;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

footer {
  color: white;
  text-align: center;
}

footer h1 {
  font-size: 15px;
  font-weight: 100;
}
